@layer tw-theme, vapor, tw-utilities;

@import '@vapor-ui/core/tailwind.css';

@import 'tailwindcss/theme.css' layer(tw-theme);
@import 'tailwindcss/utilities.css' layer(tw-utilities);

:root {
  --app-max-width: 393px;
  --app-min-width: 320px;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: var(--app-max-width);
  min-width: var(--app-min-width);
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
