@layer tw-theme, vapor, tw-utilities;

@import '@vapor-ui/core/tailwind.css';

@import 'tailwindcss/theme.css' layer(tw-theme);
@import 'tailwindcss/utilities.css' layer(tw-utilities);

:root,
[data-vapor-theme='light'] {
  --app-max-width: 393px;
  --app-min-width: 320px;

  --vapor-color-canvas: #ffffff;

  --vapor-color-red-100: #ffd8d7;
  --vapor-color-red-200: #ffb3b2;
  --vapor-color-red-300: #fc7d7f;
  --vapor-color-red-400: #f8636a;
  --vapor-color-red-500: #da3944;
  --vapor-color-red-600: #bb1225;
  --vapor-color-red-700: #9e0006;
  --vapor-color-red-800: #790000;
  --vapor-color-red-900: #570000;
  --vapor-color-red-050: #fff5f4;

  --vapor-color-pink-100: #ffd8e2;
  --vapor-color-pink-200: #ffb1c6;
  --vapor-color-pink-300: #f77ca3;
  --vapor-color-pink-400: #f26394;
  --vapor-color-pink-500: #d13e76;
  --vapor-color-pink-600: #b5135d;
  --vapor-color-pink-700: #9a0047;
  --vapor-color-pink-800: #77002d;
  --vapor-color-pink-900: #550016;
  --vapor-color-pink-050: #fff5f7;

  --vapor-color-grape-100: #f4d8fb;
  --vapor-color-grape-200: #e9b4f7;
  --vapor-color-grape-300: #d883ef;
  --vapor-color-grape-400: #d06bea;
  --vapor-color-grape-500: #b542d1;
  --vapor-color-grape-600: #9a1cb7;
  --vapor-color-grape-700: #83009f;
  --vapor-color-grape-800: #62007e;
  --vapor-color-grape-900: #43005e;
  --vapor-color-grape-050: #fcf5fe;

  --vapor-color-violet-100: #ebdbff;
  --vapor-color-violet-200: #d9b9ff;
  --vapor-color-violet-300: #b691fa;
  --vapor-color-violet-400: #a480f7;
  --vapor-color-violet-500: #805cec;
  --vapor-color-violet-600: #693fcf;
  --vapor-color-violet-700: #5929ba;
  --vapor-color-violet-800: #4805a3;
  --vapor-color-violet-900: #2e007a;
  --vapor-color-violet-050: #f9f5ff;

  --vapor-color-blue-100: #c6e6ff;
  --vapor-color-blue-200: #8dcdff;
  --vapor-color-blue-300: #51a9f7;
  --vapor-color-blue-400: #4198f2;
  --vapor-color-blue-500: #2a72e5;
  --vapor-color-blue-600: #0957c8;
  --vapor-color-blue-700: #0043b3;
  --vapor-color-blue-800: #002b9b;
  --vapor-color-blue-900: #000e84;
  --vapor-color-blue-050: #eff8ff;

  --vapor-color-cyan-100: #c2e8f0;
  --vapor-color-cyan-200: #84d2e2;
  --vapor-color-cyan-300: #1bb3cc;
  --vapor-color-cyan-400: #14a3bc;
  --vapor-color-cyan-500: #04819c;
  --vapor-color-cyan-600: #006680;
  --vapor-color-cyan-700: #00536c;
  --vapor-color-cyan-800: #003e57;
  --vapor-color-cyan-900: #002941;
  --vapor-color-cyan-050: #eef9fb;

  --vapor-color-green-100: #bbecd7;
  --vapor-color-green-200: #75d9b4;
  --vapor-color-green-300: #43b790;
  --vapor-color-green-400: #33a782;
  --vapor-color-green-500: #058765;
  --vapor-color-green-600: #006c4b;
  --vapor-color-green-700: #00583a;
  --vapor-color-green-800: #004226;
  --vapor-color-green-900: #002e13;
  --vapor-color-green-050: #edfaf4;

  --vapor-color-lime-100: #c9eca8;
  --vapor-color-lime-200: #9ad84a;
  --vapor-color-lime-300: #71b61a;
  --vapor-color-lime-400: #61a613;
  --vapor-color-lime-500: #428600;
  --vapor-color-lime-600: #276c00;
  --vapor-color-lime-700: #115a00;
  --vapor-color-lime-800: #004400;
  --vapor-color-lime-900: #002e00;
  --vapor-color-lime-050: #f1fae8;

  --vapor-color-yellow-100: #ffdd95;
  --vapor-color-yellow-200: #fbbd05;
  --vapor-color-yellow-300: #d99700;
  --vapor-color-yellow-400: #ca8700;
  --vapor-color-yellow-500: #a96800;
  --vapor-color-yellow-600: #8d4f00;
  --vapor-color-yellow-700: #7a3c00;
  --vapor-color-yellow-800: #632700;
  --vapor-color-yellow-900: #4d1100;
  --vapor-color-yellow-050: #fff7e7;

  --vapor-color-orange-100: #ffd9c8;
  --vapor-color-orange-200: #fcb797;
  --vapor-color-orange-300: #f4864f;
  --vapor-color-orange-400: #ef6f25;
  --vapor-color-orange-500: #d34701;
  --vapor-color-orange-600: #b72100;
  --vapor-color-orange-700: #9e0000;
  --vapor-color-orange-800: #790000;
  --vapor-color-orange-900: #560000;
  --vapor-color-orange-050: #fff6f1;

  --vapor-color-gray-100: #e1e1e1;
  --vapor-color-gray-200: #c6c6c6;
  --vapor-color-gray-300: #a3a3a3;
  --vapor-color-gray-400: #959595;
  --vapor-color-gray-500: #767676;
  --vapor-color-gray-600: #5d5d5d;
  --vapor-color-gray-700: #4c4c4c;
  --vapor-color-gray-800: #393939;
  --vapor-color-gray-900: #262626;
  --vapor-color-gray-050: #f6f6f6;

  --vapor-color-primary-100: #adf0d3;
  --vapor-color-primary-200: #2cdea7;
  --vapor-color-primary-300: #1bba83;
  --vapor-color-primary-400: #11a973;
  --vapor-color-primary-500: #008853;
  --vapor-color-primary-600: #006c3a;
  --vapor-color-primary-700: #005928;
  --vapor-color-primary-800: #004314;
  --vapor-color-primary-900: #002e01;
  --vapor-color-primary-050: #e6fbf1;

  --vapor-color-neutral-100: #e1e1e1;
  --vapor-color-neutral-200: #c6c6c6;
  --vapor-color-neutral-300: #a3a3a3;
  --vapor-color-neutral-400: #959595;
  --vapor-color-neutral-500: #767676;
  --vapor-color-neutral-600: #5d5d5d;
  --vapor-color-neutral-700: #4c4c4c;
  --vapor-color-neutral-800: #393939;
  --vapor-color-neutral-900: #262626;
  --vapor-color-neutral-050: #f7f7f7;

  --vapor-color-background-primary-100: var(--vapor-color-primary-100);
  --vapor-color-background-primary-200: var(--vapor-color-primary-200);
  --vapor-color-border-primary: var(--vapor-color-primary-200);
  --vapor-color-border-normal: var(--vapor-color-neutral-100);
  --vapor-color-foreground-primary-100: var(--vapor-color-primary-300);
  --vapor-color-foreground-primary-200: var(--vapor-color-primary-400);
  --vapor-color-background-canvas-100: var(--vapor-color-canvas);
  --vapor-color-background-canvas-200: var(--vapor-color-neutral-050);
  --vapor-color-background-overlay-100: var(--vapor-color-canvas);
  --vapor-color-foreground-inverse: var(--vapor-color-black);

  --vapor-scale-factor: 1;
  --vapor-radius-factor: 1;
}

[data-vapor-theme='dark'] {
  --vapor-color-canvas: #232323;

  --vapor-color-red-100: #750000;
  --vapor-color-red-200: #950000;
  --vapor-color-red-300: #be1628;
  --vapor-color-red-400: #ce2b38;
  --vapor-color-red-500: #f14f5a;
  --vapor-color-red-600: #fd8283;
  --vapor-color-red-700: #ffa7a6;
  --vapor-color-red-800: #ffd2d0;
  --vapor-color-red-900: #fff8f8;
  --vapor-color-red-050: #590000;

  --vapor-color-pink-100: #710028;
  --vapor-color-pink-200: #910040;
  --vapor-color-pink-300: #b8185f;
  --vapor-color-pink-400: #c62f6b;
  --vapor-color-pink-500: #e65588;
  --vapor-color-pink-600: #f881a6;
  --vapor-color-pink-700: #fea5be;
  --vapor-color-pink-800: #ffd0dd;
  --vapor-color-pink-900: #fff8fa;
  --vapor-color-pink-050: #590018;

  --vapor-color-grape-100: #5e0079;
  --vapor-color-grape-200: #7a0097;
  --vapor-color-grape-300: #9d21b9;
  --vapor-color-grape-400: #aa34c6;
  --vapor-color-grape-500: #c859e5;
  --vapor-color-grape-600: #da87ef;
  --vapor-color-grape-700: #e5a9f5;
  --vapor-color-grape-800: #f2d2fb;
  --vapor-color-grape-900: #fdf8fe;
  --vapor-color-grape-050: #460060;

  --vapor-color-violet-100: #45009e;
  --vapor-color-violet-200: #5522b4;
  --vapor-color-violet-300: #6b42d2;
  --vapor-color-violet-400: #7750e0;
  --vapor-color-violet-500: #9672f5;
  --vapor-color-violet-600: #b994fa;
  --vapor-color-violet-700: #d3affe;
  --vapor-color-violet-800: #e8d5ff;
  --vapor-color-violet-900: #fbf8ff;
  --vapor-color-violet-050: #30007e;

  --vapor-color-blue-100: #002898;
  --vapor-color-blue-200: #003dad;
  --vapor-color-blue-300: #0e5acb;
  --vapor-color-blue-400: #1f67da;
  --vapor-color-blue-500: #368aed;
  --vapor-color-blue-600: #56acf9;
  --vapor-color-blue-700: #7bc6ff;
  --vapor-color-blue-800: #bce1ff;
  --vapor-color-blue-900: #f5faff;
  --vapor-color-blue-050: #001286;

  --vapor-color-cyan-100: #003b53;
  --vapor-color-cyan-200: #004e66;
  --vapor-color-cyan-300: #006983;
  --vapor-color-cyan-400: #007790;
  --vapor-color-cyan-500: #0e96b0;
  --vapor-color-cyan-600: #1db6cf;
  --vapor-color-cyan-700: #6fccdd;
  --vapor-color-cyan-800: #b8e4ee;
  --vapor-color-cyan-900: #f4fbfc;
  --vapor-color-cyan-050: #002b43;

  --vapor-color-green-100: #003f23;
  --vapor-color-green-200: #005334;
  --vapor-color-green-300: #006e4d;
  --vapor-color-green-400: #007b5a;
  --vapor-color-green-500: #259a77;
  --vapor-color-green-600: #46b993;
  --vapor-color-green-700: #5dd3aa;
  --vapor-color-green-800: #b0e8d1;
  --vapor-color-green-900: #f3fbf8;
  --vapor-color-green-050: #003016;

  --vapor-color-lime-100: #004000;
  --vapor-color-lime-200: #095400;
  --vapor-color-lime-300: #296e00;
  --vapor-color-lime-400: #377b00;
  --vapor-color-lime-500: #559a0b;
  --vapor-color-lime-600: #74b91c;
  --vapor-color-lime-700: #8dd126;
  --vapor-color-lime-800: #c2e89a;
  --vapor-color-lime-900: #f5fcef;
  --vapor-color-lime-050: #003100;

  --vapor-color-yellow-100: #5f2400;
  --vapor-color-yellow-200: #743700;
  --vapor-color-yellow-300: #8f5100;
  --vapor-color-yellow-400: #9d5d00;
  --vapor-color-yellow-500: #be7b00;
  --vapor-color-yellow-600: #dd9a00;
  --vapor-color-yellow-700: #f4b402;
  --vapor-color-yellow-800: #ffd782;
  --vapor-color-yellow-900: #fff9ee;
  --vapor-color-yellow-050: #4f1400;

  --vapor-color-orange-100: #750000;
  --vapor-color-orange-200: #950000;
  --vapor-color-orange-300: #ba2500;
  --vapor-color-orange-400: #c83800;
  --vapor-color-orange-500: #e65f08;
  --vapor-color-orange-600: #f58a56;
  --vapor-color-orange-700: #fbac88;
  --vapor-color-orange-800: #ffd4c0;
  --vapor-color-orange-900: #fff9f5;
  --vapor-color-orange-050: #5b0000;

  --vapor-color-gray-100: #363636;
  --vapor-color-gray-200: #474747;
  --vapor-color-gray-300: #606060;
  --vapor-color-gray-400: #6c6c6c;
  --vapor-color-gray-500: #898989;
  --vapor-color-gray-600: #a7a7a7;
  --vapor-color-gray-700: #bebebe;
  --vapor-color-gray-800: #dcdcdc;
  --vapor-color-gray-900: #f9f9f9;
  --vapor-color-gray-050: #292929;

  --vapor-color-primary-100: #004010;
  --vapor-color-primary-200: #005423;
  --vapor-color-primary-300: #006f3c;
  --vapor-color-primary-400: #007d48;
  --vapor-color-primary-500: #089d67;
  --vapor-color-primary-600: #1cbd86;
  --vapor-color-primary-700: #2cdea7;
  --vapor-color-primary-800: #9bedca;
  --vapor-color-primary-900: #f1fcf7;
  --vapor-color-primary-050: #003102;

  --vapor-color-neutral-100: #363636;
  --vapor-color-neutral-200: #474747;
  --vapor-color-neutral-300: #606060;
  --vapor-color-neutral-400: #6c6c6c;
  --vapor-color-neutral-500: #898989;
  --vapor-color-neutral-600: #a7a7a7;
  --vapor-color-neutral-700: #bebebe;
  --vapor-color-neutral-800: #dcdcdc;
  --vapor-color-neutral-900: #fafafa;
  --vapor-color-neutral-050: #282828;

  --vapor-color-background-primary-100: var(--vapor-color-primary-050);
  --vapor-color-background-primary-200: var(--vapor-color-primary-700);
  --vapor-color-border-primary: var(--vapor-color-primary-700);
  --vapor-color-border-normal: var(--vapor-color-neutral-300);
  --vapor-color-foreground-primary-100: var(--vapor-color-primary-800);
  --vapor-color-foreground-primary-200: var(--vapor-color-primary-900);
  --vapor-color-background-canvas-100: var(--vapor-color-canvas);
  --vapor-color-background-canvas-200: var(--vapor-color-neutral-050);
  --vapor-color-background-overlay-100: var(--vapor-color-neutral-100);
  --vapor-color-foreground-inverse: var(--vapor-color-black);
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: var(--app-max-width);
  min-width: var(--app-min-width);
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
